/* Reset default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
}

/* Set background and text colors */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #d1a65b, #50236a);
  /*background-color: #fbebd0; /* Light yellow background color */
  color: #ffffff; /* White text color */
}

/* Center the header content */
header {
  text-align: center;
  padding: 40px;
  color: #ffffff;
}

header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* Style the blocks */
.block {
  background-color: #3d3b3c; /* Dark gray color */
  margin: 15px auto; /* Increased space between blocks */
  border-radius: 10px;
  padding: 35px 20px; /* Adjusted height */
  width: 70%; /* Adjust the width as needed */
}

.block h2 {
  text-align: center;
}

.block a {
  color: #fff;
  text-decoration: none;
  display: block;
}

/* ... Rest of the CSS code ... */

/* Add shimmer effect on SoundCloud block */
.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.423) 0%,
    rgba(255, 255, 255, 0.4) 25%,
    rgba(255, 255, 255, 0.786) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transform: skewX(-45deg);
}

@keyframes shimmerEffect {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}

.shimmering::before {
  animation: shimmerEffect 1500ms infinite; /* Faster animation: 2 seconds */
}

/* ... Rest of the CSS code ... */
/* Style the horizontal rule */
hr {
  margin: 20px auto;
  border: none;
  border-top: 1px solid #999; /* Dark gray color */
  width: 50%; /* Adjusted length */
}

/* Style the location text */
.location {
  text-align: center;
  font-style: italic;
}

/* Style the footer */
footer {
  text-align: center;
  margin: 20px 0;
  color: #ffffff;
  font-size: 14px;
}

.warsaw-text {
  color: #ffffff; /* Updated text color to dark gray */
  text-align: center;
}

/* Hover effect on all blocks */
.block:hover {
  background-color: #; /* Lighter gray on hover */
}
